@keyframes slide {
    to {
        top: 100vh;
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--menu-bg-color);
    animation: slide cubic-bezier(1,-.01,.64,1.02) 0.5s forwards;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    padding: 0 100px;

    .separator {
        border-top: 1px solid #252525;
        margin: 70px auto 55px;
        max-width: 40%;
        opacity: 0.3;
    }

    .about_me {
        display: flex;
        justify-content: space-between;
    
        .info {
            flex: 48%;
            color: var(--text-color);
            font-weight: 500;
            font-size: 1.5rem;

            .personal {
                margin-bottom: 20px;

                h2 {
                    text-transform: uppercase;
                    font-size: 2.6rem;
                    margin-bottom: 10px;
                }

                .details {
                    display: flex;

                    .left, .right {
                        flex: 50%;

                        p {
                            padding: 10px 0;

                            span {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    
        .achievement {
            flex: 48%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .skills {
        .skills_header {
            font-size: 2.6rem;
            color: var(--text-color);
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        .skill {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            gap: 2.5rem 0;
            justify-content: flex-start;
            text-align: left;
            position: relative;
            visibility: visible;
        }
    }

    .education {
        .education_header {
            text-align: center;
            margin-bottom: 20px;
            color: var(--text-color);
        }

        .education_content {
            display: flex;

            .left {
                animation-iteration-count: 1;
                -webkit-animation-iteration-count: 1;   
                animation: fadeRight ease-in-out 0.5s forwards;
            }

            .right {
                animation-iteration-count: 1;
                -webkit-animation-iteration-count: 1;   
                animation: fadeLeft ease-in-out 0.5s forwards;
            }
        }
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        padding-bottom: 100px;
        
        .about_me {
            flex-direction: column;

            .info {
                text-align: left;
                margin-bottom: 60px;
                padding-left: 100px;

                .personal {
                    h2 {
                        text-align: center;
                        margin-left: -100px;
                    }

                    .details {
                    }
                }
            }

            .achievement {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        }

        .education {
            .education_content {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 739px) {
    .wrapper {
        padding: 20px;
        
        .about_me {
            flex-direction: column;

            .info {
                text-align: left;
                margin-bottom: 60px;
                margin-left: 20px;
                font-size: 1.4rem;

                .personal {
                    h2 {
                        text-align: center;
                        margin-left: -20px;
                    }

                    .details {
                        span {
                            display: block;
                        }
                    }
                }
            }

            .achievement {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        }

        .education {
            .education_content {
                flex-direction: column;
                padding-bottom: 40px;
            }
        }
    }
}